# registry=http://nexus.17usoft.com/repository/npm-flight-fe/
# always-auth=true
# //nexus.17usoft.com/repository/npm-flight-fe/:_authToken=${NPM_TOKEN}
@airtravel:registry=http://nexus.17usoft.com/repository/npm-flight-fe/